input {
    width: 90%;
    text-align: center;
}

form {
    text-align: center;
    align-content: center;
}

button {
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 5px 15px;
    color: #851525;
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-radius: 5px;
    background-image: url(./img/light.png);
    background-size: 150px 100px;
}

.sending {
    width: 100%;
    height: 500px;
    background-image: url(./img/lightsString.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.submit {
    position: relative;
}

.submitImg {
    width: 200px;
}

.submitText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
}
.content {
    align-content: center;
}

.content img {
    align-self: center;
}